/* styling for the homepage */
.homepageBody {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: #f3e9d2;
    text-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);
    background-color: #1a936f;
    height: 100vh;              /* expands the body to the whole viewport */
    justify-content: center;    /* this centers the text horizontally */
    align-items: center;        /* this centers the text vertically */
    flex-direction: column;     /* this stacks the button and text on top of each other */
    
}

#loginButton {
    background-color: #A8415B;
    color: #f3e9d2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 50px;            /* giving the button a pill shape */
    padding: 12px 30px;
}

/* styling for login page */
.loginBody {
    display: flex;
    height: 100vh;
}

/* styling for registration page */
.registrationBody {
    display: flex;
    height: 100vh;
}

/* styling for the search page */
.searchBody {
    display: flex;
    height: 100vh;
    background-color: #1a936f;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#searchBar {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 25px;
    width: 300px;
    font-size: 16px;
    outline: none;
}

#searchBar:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

#diaryButton {
    text-decoration: none;
}